@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: black;
}

/* Navigation */
img.main-logo {
  width: 86px;
}

.navigation-links {
  padding: 20px 0 0 17px;
}

.navigation-links ul {
  display: flex;
  gap: 120px;
  list-style-type: none;
  vertical-align: center;
  /* flex-wrap: wrap; */
}

.navigation-links div.links,
div.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.navigation-links li {
  padding: 0 10px;
  font-size: 1.35rem;
  font-weight: 500;
}

.navigation-links li a:hover.active,
.navigation-links li a {
  text-decoration: none;
  color: white;
}

.navigation-links li a.active,
.navigation-links li a:hover {
  color: #e6ba8e;
}

/* End of Navigation */

/* hero section */
section.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin: 0 auto;
  left: 20;
  right: 0;
  margin-top: 120px;
}

section.hero-section div {
  width: 550px;
}

section.hero-section h1 {
  color: #e6ba8e;
  font-weight: 500;
}

section.hero-section div.text > p {
  font-family: "Sansita Swashed", serif;
  color: #f3f3f2;
  font-size: 70px;
  font-weight: 200;
  margin-top: -10px;
  padding-bottom: 100px;
  padding-right: 10px;
}

section.hero-section img {
  position: absolute;
  width: 1280.3px;
  height: 770px;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}

button.main,
button.contact {
  width: 180px;
  color: white;
  background-color: #933c22;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  transition-duration: 500ms;
  transition-property: box-shadow;
}

.watch {
  font-size: 1.4rem;
  font-weight: 400;
  color: #e6ba8e;
  margin-left: 20px;
}

button.main:hover {
  box-shadow: 0px 10px 25px #3bd9508e;
}

button.contact:hover {
  box-shadow: 0px 10px 25px #3bd9508e;
}

button.contact i {
  margin-right: 10px;
}

/* TOP-PRODUCTS */

h1.top {
  font-family: "Sansita Swashed", serif;
  font-size: 60px;
  font-weight: 500;
  width: 100%;
  margin-top: 100px;
  height: 180px;
  display: block;
}
section.top-products {
  background-color: white;
  width: 1280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 176px;
  margin-left: -40px;
}
.top-products div.menu-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}
.top-products div.menu-cards div.card {
  background-image: url("images/top-products-background.png");
  height: 411px;
  width: 360px;
  border: 2px solid rgba(0, 0, 0, 0.045);
  border-radius: 8%;
  box-shadow: 0px 10px 25px #9da09d8e;
  padding: 30px;
  box-sizing: border-box;
}
.top-products div.menu-cards div.image > img {
  display: block;
  margin: 0 auto;
}

.top-products div.menu-cards div.image {
  height: 60%;
  margin-bottom: 10px;
}
.top-products div.menu-cards div.card div.content p.title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 20px 0px;
  color: #f3f3f2;
}

.top-products div.menu-cards div.card div.content p.description {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f3f3f2;
  width: 150px;
  float: left;
  line-height: 27px;
}

.top-products div.menu-cards div.card div.content span.price {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f3f3f2;
}

.top-products .add {
  width: 80px;
  color: white;
  background-color: #933c22;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  float: right;
  transition-duration: 500ms;
  transition-property: box-shadow;
}

/* TESTIMONIALS */
section.testimonial-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 50px;
}
section.testimonial-section div {
  width: 550px;
}
section.testimonial-section img {
  display: block;
  margin: 0 auto;
}

/* FOOTER */
footer.footer-section div.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

footer.footer-section ul {
  list-style-type: none;
}

footer.footer-section a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

footer.footer-section li > p {
  font-weight: 600;
}

footer.footer-section div.icons-copyright {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

footer.footer-section div.icons-copyright div.icons {
  /* [row-start] / [column-start] / [row-end] / [column-end] */
  grid-area: 1/1/2/3;
}

footer.footer-section div.icons-copyright div.copyright {
  /* [row-start] / [column-start] / [row-end] / [column-end] */
  grid-area: 3/3/1/7;
  text-align: center;
}

footer.footer-section div.icons-copyright div.icons button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
}

footer.footer-section div.icons-copyright div.icons button:hover {
  background-color: #3bd950;
  color: white;
}

/* Media Queries */
/* 
  Mobile Devices: Less than 481px
  iPads, Tablets: 481px - 768px
  Small Screens, Laptops: 769px - 1024px
  Desktops, Large Screens: 1025px - 1200px
  Extra Large Screens, TV: 1201px and greater
*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  footer.footer-section div.links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer.footer-section div.icons-copyright {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer.footer-section div.icons-copyright div.icons {
    /* [row-start] / [column-start] / [row-end] / [column-end] */
    grid-area: 1/1/2/3;
  }
  footer.footer-section div.icons-copyright div.copyright {
    /* [row-start] / [column-start] / [row-end] / [column-end] */
    grid-area: 2/1/3/3;
  }
}

@media screen and (max-width: 480px) {
  footer.footer-section div.links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  footer.footer-section div.icons-copyright {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  footer.footer-section div.icons-copyright div.icons {
    /* [row-start] / [column-start] / [row-end] / [column-end] */
    grid-area: 1 / 1 / 2 / 2;
  }
  footer.footer-section div.icons-copyright div.copyright {
    /* [row-start] / [column-start] / [row-end] / [column-end] */
    grid-area: 2 / 1 / 3 / 2;
  }
}
